@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body {
  background-color: black !important;
  height: 800px;
  font-family: "Roboto", sans-serif;
}

.css-1qxadfk-MuiPaper-root-MuiDialog-paper {
  border-radius: 18px !important;
}

form:first-child {
  color: rgb(206, 36, 36) !important;
  font-weight: 700 !important;
}
